<div class="navigation-footer hidden-phone" id="opacity-80">
 	<ul>
 		<li>
 			<%= link_to  resources_index_path do %>
 			   <span class="nav_cambria">Resources</span>
			<% end %>
 			
 		</li>
 		<li>
 			<%= link_to  services_index_path do %>
 			   <span class="nav_cambria">Careers</span>
			<% end %>
 			
 		</li>
 		<li>
 			<%= link_to  root_path do %>
			   <img src="/assets/logo.png">
			<% end %>
 			</li>
 		<li>
 			<%= link_to  clients_index_path do %>
 			   <span class="nav_cambria">Privacy Policy</span>
			<% end %>
 		</li>
 		<li class="last">
 			<%= link_to  contact_index_path do %>
 			   <span class="nav_cambria">FAQs</span>
			<% end %>
 		</li>
	</ul>
</div>