<div class="navigation hidden-phone" id="opacity-80">
	<div class="login-drop">Login</div>
	<div class="login-drop-down">Login</div>
	<div class="login-box"></div>
 	<ul>
 		<li>
 			<%= link_to  about_index_path do %>
			   <span class="nav_lucida">What</span>
 			   <span class="nav_cambria">we do</span>
			<% end %>
 			
 		</li>
 		<li>
 			<%= link_to  services_index_path do %>
			   <span class="nav_lucida">services</span>
 			   <span class="nav_cambria">we offer</span>
			<% end %>
 			
 		</li>
 		<li>
 			<%= link_to  root_path do %>
			   <img src="/assets/full-logo.png">
			<% end %>
 			</li>
 		<li>
 			<%= link_to  clients_index_path do %>
			   <span class="nav_lucida">clients</span>
 			   <span class="nav_cambria">we serve</span>
			<% end %>
 		</li>
 		<li class="last">
 			<%= link_to  contact_index_path do %>
			   <span class="nav_lucida">contact</span>
 			   <span class="nav_cambria">us</span>
			<% end %>
 		</li>
	</ul>
</div>